<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig"
             type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="TransportConfig"
             type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="errors" />
  <TransportConfig MaximumConcurrencyLevel="16" />
</configuration>